<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<th:block th:fragment="productTable (commandStockButtonEnable)">
	<table class="table table-striped">
	    <thead class="thead-dark">
	        <tr>
	            <th rowspan="2">Nom</th>
	            <th colspan="2">Stock</th>
	            <th th:if="${commandStockButtonEnable}" rowspan="2">Action</th>
	        </tr>
	        <tr>
	            <th>Supplier</th>
	            <th>Stock</th>
	        </tr>
	    </thead>
	    <tbody>
	        <th:block th:each="product : ${productList}" th:with="nbSupplier = ${product.stockLeft.size()}">
	            <tr>
	                <td th:text="${product.name}"
	                    th:rowspan="${nbSupplier} > 1 ? ${nbSupplier} : 1"></td>
	                <th:block th:switch="${nbSupplier}">
	                    <th:block th:case="0">
	                        <td></td>
	                        <td th:text="0"></td>
	                    </th:block>
	                    <th:block th:case="*">
	                        <td th:text="${product.stockLeft.get(0).supplier.name}"></td>
	                        <td th:text="${product.stockLeft.get(0).stockLeft}"></td>
	                    </th:block>
	                </th:block>
	                <td th:if="${commandStockButtonEnable}">
	                	<button type="button" data-toggle="modal" data-target="#commandToSupplierModal" th:attr="data-product-id=${product.id}" class="glyphicon glyphicon-plus"></button>
	                </td>
	            </tr>
	            <tr th:if="${nbSupplier > 1} and !${stats.first}" th:each="stock,stats : ${product.stockLeft}">
	                <td th:text="${stock.supplier.name}"></td>
	                <td th:text="${stock.stockLeft}"></td>
	            </tr>
	        </th:block>
	    </tbody>
	</table>
	
	<th:block th:if="${commandStockButtonEnable}">
		<th:block th:include="fragments/modals.html :: commandToSupplierModal"></th:block>
	</th:block>
</th:block>

<th:block th:fragment="orderTable">
	<table class="table table-striped" th:if="${orderList != null}">
	    <thead class="thead-dark">
	        <tr>
	            <th>Id</th>
	            <th>Date</th>
	            <th>Owner</th>
	            <th>Product</th>
	            <th>Quantity</th>
	        </tr>
	    </thead>
	    <tbody>
	        <th:block th:each="order : ${orderList}" th:with="detailSize = ${order.detail.size()}">
	            <tr>
	                <td th:text="${order.id}"
	                    th:rowspan="${detailSize} > 1 ? ${detailSize} : 1"></td>
	                <td th:text="${order.date}"
	                    th:rowspan="${detailSize} > 1 ? ${detailSize} : 1"></td>
	                <td th:text="${order.owner.name}"
	                    th:rowspan="${detailSize} > 1 ? ${detailSize} : 1"></td>
	                <td th:text="${order.detail.get(0).product.name}"></td>
	                <td th:text="${order.detail.get(0).quantity}"></td>
	            </tr>
	            <tr th:if="${detailSize > 1} and !${stats.first}" th:each="detail,stats : ${order.detail}">
	                <td th:text="${detail.product.name}"></td>
	                <td th:text="${detail.quantity}"></td>
	            </tr>
	        </th:block>
	    </tbody>
	</table>
</th:block>
</body>
</html>