<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/template.html :: headerfile(title='Administration')"/>
</head>
<body>
<div th:insert="fragments/template.html :: header"></div>
<div class="row">
	<div class="col-md-6">
		<div id="panelProduct" class="panel panel-default">
			<div class="panel-heading">
				<h3>Products administration</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12 text-center">
						<label>Number of CD : </label>
						<label th:text="${nbCdAvailable}"></label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<label>Number of disc : </label>
						<label th:text="${nbDiscAvailable}"></label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<th:block th:insert="fragments/table.html :: productTable(commandStockButtonEnable='true')"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div id="panelOrder" class="panel panel-default hg-100-pc">
			<div class="panel-heading">
				<h3>Orders administration</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<form id="admOrdersForm"  method="get" onsubmit="return filterOrders();">
						<div class="col-md-4 text-center">
							<label for="afterField">After : </label>
							<input type="date" name="dateAfter" id="afterField">
						</div>
						<div class="col-md-4 text-center">
							<label for="beforeField">Before : </label>
							<input type="date" name="dateBefore" id="beforeField"> 
						</div>
						<div class="col-md-4 text-center">
							<button type="submit">Filter</button>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="col-md-12 text-center" id="admOrdersTable">
						<th:block th:insert="fragments/table.html :: orderTable "/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script th:inline="javascript" type="text/javascript">
	function filterOrders(){
		dateAfter = $("#afterField").val();
		dateBefore = $("#beforeField").val();
		$.ajax({
			type: 'GET',
			url: '/admin/orders',
			data: {dateAfter: dateAfter, dateBefore: dateBefore},
			success: function (response){
				$("#admOrdersTable").replaceWith(response);
			},
			error: function(xhr){
				console.log(xhr);
			}
		});
		return false;
	}
</script>
</html>