<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/template.html :: headerfile(title='Home')"/>
</head>
<body>
<div th:insert="fragments/template.html :: header"></div>
<table>
    <thead>
        <tr>
            <th rowspan="2">Nom</th>
            <th colspan="2">Stock</th>
        </tr>
        <tr>
            <th>Fournisseur</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="product : ${productList}" th:with="nbSupplier = ${product.stockLeft.size()}">
            <tr>
                <td th:text="${product.name}"
                    th:rowspan="${nbSupplier} > 1 ? ${nbSupplier} : 1"></td>
                <th:block th:switch="${nbSupplier}">
                    <th:block th:case="0">
                        <td></td>
                        <td th:text="0"></td>
                    </th:block>
                    <th:block th:case="*">
                        <td th:text="${product.stockLeft.get(0).supplier.name}"></td>
                        <td th:text="${product.stockLeft.get(0).stockLeft}"></td>
                    </th:block>
                </th:block>
            </tr>
            <tr th:if="${nbSupplier > 1} and !${stats.first}" th:each="stock,stats : ${product.stockLeft}">
                <td th:text="${stock.supplier.name}"></td>
                <td th:text="${stock.stockLeft}"></td>
            </tr>
        </th:block>
    </tbody>
</table>
</body>
</html>