<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/template.html :: headerfile(title='Home')"/>
</head>
<body>
<div th:insert="fragments/template.html :: header"></div>
<!--<form th:action="@{/}" th:object="${productFilter}" method="post">-->
<!--<div class="panel">-->
<!--<div class="header">-->
<!--<p>Filter</p>-->
<!--</div>-->
<!--<div class="body">-->
<!--<label>Product</label>-->
<!--<select th:field="*{name}">-->
<!--<option selected th:value="null"></option>-->
<!--<option th:each="currProduct : ${productRef}" th:value="${currProduct.name}"-->
<!--th:label="${currProduct.name}"></option>-->
<!--</select>-->
<!--<button type="submit">Filter</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th rowspan="2">Nom</th>
            <th colspan="2">Stock</th>
        </tr>
        <tr>
            <th>Fournisseur</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="product : ${productList}" th:with="nbSupplier = ${product.stockLeft.size()}">
            <tr>
                <td th:text="${product.name}"
                    th:rowspan="${nbSupplier} > 1 ? ${nbSupplier} : 1"></td>
                <th:block th:switch="${nbSupplier}">
                    <th:block th:case="0">
                        <td></td>
                        <td th:text="0"></td>
                    </th:block>
                    <th:block th:case="*">
                        <td th:text="${product.stockLeft.get(0).supplier.name}"></td>
                        <td th:text="${product.stockLeft.get(0).stockLeft}"></td>
                    </th:block>
                </th:block>
            </tr>
            <tr th:if="${nbSupplier > 1} and !${stats.first}" th:each="stock,stats : ${product.stockLeft}">
                <td th:text="${stock.supplier.name}"></td>
                <td th:text="${stock.stockLeft}"></td>
            </tr>
        </th:block>
    </tbody>
</table>
</body>
</html>