<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/template.html :: headerfile(title='Home')"/>
</head>
<body>
<div th:insert="fragments/template.html :: header"></div>
<form th:action="@{/}" th:object="${productFilter}" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Filter</h1>
        </div>
        <div class="panel-body">
            <label>Product</label>
            <select th:field="*{name}">
                <option selected th:value="null"></option>
                <option th:each="currProduct : ${productRef}" th:value="${currProduct.name}"
                        th:text="${currProduct.name}"></option>
            </select>
            <button type="submit">Filter</button>
        </div>
    </div>
</form>
<th:block th:include="fragments/table.html :: productTable"/>
</body>
</html>