<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/template.html :: headerfile(title='Order')"/>
</head>
<body>
<div th:insert="fragments/template.html :: header"></div>
<form th:action="@{/order}" th:object="${userFilter}" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Filter</h1>
        </div>
        <div class="panel-body">
            <label>User</label>
            <select th:field="*{name}">
                <option selected th:value="null"></option>
                <option th:each="currUser : ${userList}" th:value="${currUser.name}"
                        th:text="${currUser.name}"></option>
            </select>
            <button type="submit">Filter</button>
        </div>
    </div>
</form>
<th:block th:include="fragments/table.html :: orderTable"/>
</body>
</html>